div[class^="uploadDropModal_"][class*=" error_"],
div[class^="root"]:has(
    div[class^="flex_"] > div[class^="primaryActions_"] > button[class^="shinyButton"]
  ) {
  div[class^="icons_"] {
    visibility: hidden;
d
    &::after {
      visibility: visible;
      background: url("https://media.discordapp.net/attachments/1139236760484847627/1139237885216829601/d0e40ae38b08c9e9508c26b63e5990b8.png");
      position: absolute;
      height: 150px;
      display: block;
      width: 150px;
      background-position: center;
      background-size: contain;
      left: -25px;
      top: -100px;
      background-repeat: no-repeat;
      content: "";
    }
  }

  div[class^="defaultColor_"]:has(> div[class^="body"]) > * {
    display: none;
  }

  div[class^="instructions"],
  > div > div[class^="defaultColor_"]:has(> div[class^="body"]) {
    visibility: hidden;

    &::after {
      visibility: visible;
      display: block;
      margin-top: 10px;
      content: "I can only take up to 25 inches";
    }
  }

  > div > h2::after {
    left: 0;
  }

  div[class^="title_"],
  > div > h2 {
    visibility: hidden;

    &::after {
      visibility: visible;
      content: "S-Senpai your files are too large";
      position: absolute;
      display: block;
      top: 0;
      width: 100%;
    }
  }
}
